
@import './bootstrap.scss';


/* ------- customize primary buttons -------- */   
$mynewcolor:#96673f;
$white: #FFF;
$lighcolor:#ba8146;

.btn-primary {
    @include button-variant(
        $mynewcolor,
        $mynewcolor, 
        $white, 
        $lighcolor, 
        darken($mynewcolor, 2%), 
        lighten($mynewcolor, 90%), 
        lighten($mynewcolor, 10%), 
        darken($mynewcolor,30%));
}


/* ------- customize success buttons -------- */   
$mynewcolor2:#c0f2f2;
$text-color: #282828;


.btn-success {
    @include button-variant(
        $mynewcolor2,
        $mynewcolor2, 
        $text-color, 
        darken($mynewcolor2, 7.5%), 
        darken($mynewcolor2, 10%), 
        darken($text-color, 10%), 
        lighten($mynewcolor2, 10%), 
        darken($mynewcolor2,30%));
}